<div style="text-align:center">
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-6">
    <mat-card style="padding: 10px; touch-action: pan-x pan-y; border-radius: 5px; background-color: #84FFFF; -webkit-box-shadow: 0 10px 35px rgba(0,0,0,.1); border-radius: 10px">
      <div id="regions_div" style="touch-action: pan-x pan-y; transform: translate(0px, 0px);"></div>
    </mat-card>
  </div>
  <!-- <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div> -->
  <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-6">
    <mat-card style="padding: 0px; border-radius: 10px; -webkit-box-shadow: 0 10px 35px rgba(0,0,0,.1);">
      <div id="daily_chart" style="min-height: 418px;"></div>
    </mat-card>
  </div>

  <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-6">
    <mat-card style="padding: 0px; border-radius: 10px; -webkit-box-shadow: 0 10px 35px rgba(0,0,0,.1);">
      <div id="total_chart" style="min-height: 400px;"></div>
    </mat-card>
  </div>
</div>
